<script>
  import io from "socket.io-client";
  import RoomSelector from "./components/RoomSelector.svelte";
  import Chat from "./components/Chat.svelte";

  const socket = io("https://chatroom-mss.herokuapp.com/");
</script>

<main>
  <RoomSelector {socket} />
  <Chat {socket} />
</main>
