<script>
  export let socket;

  let messages = [];
  let newMessage = "";

  socket.on("message", function(data) {
    messages.push(data);
    messages.sort((a, b) => a.timestamp - b.timestamp);
    messages = messages;
  });

  function send() {
    if (newMessage == "") return;
    socket.emit("message", newMessage, () => {
      newMessage = "";
    });
  }
</script>

<main>
  {#each messages as message}
    <p>{ message.message }</p>
  {/each}
  <input bind:value={newMessage} />
  <button on:click={send}>Send</button>
</main>

<style>
  main {
    margin-top: 20px;
    max-width: 50vw;
    text-align: center;
    border: 1px solid;
  }
  input {
    width: 80%;
  }
</style>
