<script>
  import { onMount } from "svelte";
  export let socket;

  let roomName = "";
  let currentRoom = null;

  let rooms = [];

  async function fetchRooms() {
    const res = await fetch("https://chatroom-mss.herokuapp.com/rooms");
    rooms = await res.json();
  }

  onMount(() => {
    setInterval(fetchRooms, 2000);
  });

  function joinRoom() {
    socket.emit("join", roomName, () => {
      if (currentRoom != null) {
        socket.emit("leave", currentRoom);
      }
      currentRoom = roomName;
    });
  }
</script>

<div>
  <input bind:value={roomName} list="list" />
  <datalist id="list">
    {#each rooms as room}
      <option value={room} />
    {/each}
  </datalist>
  
  <button on:click={joinRoom}>
    Join
  </button>
</div>
